<%= form_for(@advertisement) do |f| %>
  <% if @advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisement.errors.count, "error") %> prohibited this @advertisement from being saved:</h2>

      <ul>
      <% @advertisement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="form-group row">
    <%= f.label :title, "Titre", class: "col-2 col-form-label" %>
    <%= f.text_field :title, class: "form-control" %>
    <br>
    <%= f.label :content, "Contenu", class: "col-2 col-form-label" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <% if current_user && current_user.role == 'admin' %>
    <div class="field">
      <%= f.label :state %>
      <%= f.check_box :state %>
    </div>

    <div class="field">
      <%= f.label :published %>
      <%= f.check_box :published %>
    </div>

    <div class="field">
      <%= f.label :waiting %>
      <%= f.check_box :waiting %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
<% end %>
