<% if session[:user_id] != @advertisement.user_id && session[:admin].nil? %>
    <div class="container">
        <div class="alert alert-danger">
            Vous ne pouvez pas éditer une annonce qui ne vous appartient pas ! Désolé !
        </div>
    </div>
<% else %>
    <div class="container">
        <%= form_for :advertisement, url: advertisement_path, method: :patch do |f| %>
        <form class="form-signin">
            <h2 class="form-signin-heading">Editer une annonce</h2>
            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :content %>
                <%= f.text_field :content, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :price %>
                <%= f.text_field :price, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.hidden_field :published, value: false %>
                <%= f.hidden_field :user_id, value: session[:user_id] %>
            </div>
            <div class="form-group">
                <div class="alert alert-info">
                    Attention, le fait d'éditer votre annonce lui retire son statut publié, l'administrateur devra l'approuver à nouveau. Merci
                </div>
                <%= f.submit "Editer l'annonce", class: "btn btn-lg btn-primary btn-block" %>
            </div>
        </form>
        <% end %>
    </div> <!-- /container -->
<% end %>