<h1>Annonces disponibles</h1>

      <div class="container-fluid">
        <div class="row">
          <% @advertisements.each do |advertisement| %>
            <div class="card" style="margin: 10px;">
              <div class="card-block">
                <h4 class="card-title"><%= advertisement.title %></h4>
                <h6 class="card-subtitle mb-2 text-muted"><%= advertisement.created_at.strftime('Posté le %d/%m/%Y') %> par <%= advertisement.user.name %></h6>
                <p class="card-text"><%= advertisement.content %></p>
                <%= link_to "Voir l'annonce",  advertisement_path(advertisement), class: "card-link btn btn-default" %>
                <% if !session[:admin].nil? %>
                  <%= link_to "Editer l'annonce", edit_advertisement_path(advertisement), class: 'btn btn-default' %>
                  <%= link_to "Detruire l'annonce", advertisement_path(advertisement), method: :delete, data: { confirm: 'Etes-vous sur ?' }, class: 'btn btn-danger' %>
                <% end %>
                
              </div>
              <div class="card-footer text-muted">
                <%= pluralize(advertisement.price, "euro") %>
                <% if !advertisement.published %> 
                  <%= form_for advertisement do |f| %>
                    <% f.hidden_field :title, advertisement.title %>
                    <% f.hidden_field :content, advertisement.content %>
                    <% f.hidden_field :user_id, advertisement.user_id %>
                    <% f.hidden_field :published, published: true  %>
                    <%= f.submit "Publier l'annonce", class: 'btn btn-primary float-right' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
<br>
<% if !session[:user_id].nil? %>
  <%= link_to 'Poster une nouvelle annonce', new_advertisement_path, class: 'btn btn-primary' %>
<% end %>
