<div class="container" style="width:90%;" >
  <div class="row">
    <% @advertisements.each do |advertisement| %>
      <div class="card" style="margin: 10px;">
        <div class="card-block">
          <h4 class="card-title"><%= advertisement.title %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= advertisement.created_at.strftime('Posté le %d/%m/%Y') %> par <%= advertisement.user.name %></h6>
          <p class="card-text"><%= advertisement.content %></p>
          <%= link_to "Voir l'annonce",  advertisement_path(advertisement), class: "card-link btn btn-default" %>
          <% if session[:user_id] == advertisement.user_id && session[:admin].nil? %>
            <%= link_to "Editer l'annonce", edit_advertisement_path(advertisement), class: 'btn btn-default' %>
          <% end %>
          <% if !session[:admin].nil? %>
            <%= link_to "Editer l'annonce", edit_advertisement_path(advertisement), class: 'btn btn-default' %>
            <%= link_to "Detruire l'annonce", advertisement_path(advertisement), method: :delete, data: { confirm: 'Etes-vous sur ?' }, class: 'btn btn-danger' %>
          <% end %>
          
        </div>
        <div class="card-footer text-muted">
          <div><%= pluralize(advertisement.price, "euro") %></div>
        </div>
        <div class="card-footer text-muted">
            <% if !session[:admin].nil? %>
              <div>
              <% if !advertisement.published %>
                <%= form_tag "/advertisements/#{advertisement.id}", method: "patch" do %>
                  <input type="hidden" name="published" value="true"/>
                  <input type="submit" value="Publier" class="btn btn-primary"/>
                <% end %>
              <% else %>
                <%= form_tag "/advertisements/#{advertisement.id}", method: "patch" do %>
                  <input type="hidden" name="published" value="false"/>
                  <input type="submit" value="Ne plus Publier" class="btn btn-default"/>
                <% end %>
              <% end %>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
