<div class="container">
 <div><%= flash[:info] %></div>
    <%= form_for :advertisements do |f| %>
        <%= f.hidden_field session[:user_id] %>
      <form class="form-signin">
        <h2 class="form-signin-heading">Déposer une annonce</h2>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div class="form-group">
            <%= f.label :content %>
            <%= f.text_field :content %>
        </div>
        <div class="form-group">
            <%= f.label :price %>
            <%= f.text_field :price %>
        </div>
        <div class="form-group">
            <%= f.submit %>
        </div>
      </form>
    <% end %>
    </div> <!-- /container -->