<div class="container">
    <%= form_for :advertisement, url: advertisements_path do |f| %>
      <form class="form-signin">
        <h2 class="form-signin-heading">Déposer une annonce</h2>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :content %>
            <%= f.text_field :content, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :price, "Prix en euros (que les chiffres, ex : 3 pour 3 euros)" %>
            <%= f.text_field :price, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.hidden_field :published, value: false %>
            <%= f.hidden_field :user_id, value: session[:user_id] %>
        </div>
        <div class="form-group">
            <%= f.submit "Soumettre l'annonce", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      </form>
    <% end %>
    </div> <!-- /container -->