<br>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
             Annonce soumise le <%= @advertisement.created_at.strftime("%d/%m/%Y") %>
        </div>
        <div class="card-block">
            <h4 class="card-title"><%= @advertisement.title %></h4>
            <p class="card-text"><%= @advertisement.content %></p>
            <p class="card-text">Proposée par <%= @advertisement.user.name %></p>
            <a href="<%= advertisements_path %>" class="btn btn-primary">Retour</a>
        </div>
        <div class="card-footer text-muted">
            <%= pluralize(@advertisement.price, "euro") %>
        </div>
        <% if !session[:admin].nil? %>
          <div class="card-footer <% if !@advertisement.published %> bg-danger <% else %> bg-default <% end %>">
              <div class="text-center">
              <% if !@advertisement.published %>
                <%= form_tag "/advertisements/#{@advertisement.id}", method: "patch" do %>
                  <input type="hidden" name="published" value="true"/>
                  <input type="submit" value="Publier" class="btn btn-primary"/>
                <% end %>
              <% else %>
                <%= form_tag "/advertisements/#{@advertisement.id}", method: "patch" do %>
                  <input type="hidden" name="published" value="false"/>
                  <input type="submit" value="Ne plus Publier" class="btn btn-default"/>
                <% end %>
              <% end %>
              </div>
            </div>
        <% end %>
    </div>
</div>
<br>
<div class="container">
  <h2>Commentaires</h2>
  <% @advertisement.comments.each do |comment| %>
  <div class="card">
    <div class="card-header">
      Commentaire de <%= comment.commenter %>, le <%= comment.created_at %>  
    </div>
    <div class="card-block">
      <p class="card-text"><%= comment.body %></p>
    </div>
  </div>
  <br>
  <% end %>

<% if !session[:user_id].nil? %>
    <%= form_for([@advertisement, @advertisement.comments.build]) do |f| %>
      <%= f.hidden_field :commenter, value: @user.name %>
      <div class="card">
         <div class="card-header">
	    Ajoutez votre commentaire : 
 	 </div>
         <div class="card-block">
            <p class="card-text">
              <%= f.text_area :body, class: "form-control" %>
	      <%= f.submit "Commenter",  class: "btn btn-primary" %>
            </p>
	 </div>
      </div>
    <% end %>
<% end %>
</div>
